@{
    ViewData["Title"] = "NotFoundBook";
}

<div class="card border-0 rounded-4 shadow-sm p-5 text-center bg-danger">
    <div class="fs-1 mb-3">📚</div>
    <h4 class="text-white">Aradığınız kitap bulunamadı.</h4>
    <p class="text-light">
        Ana sayfaya dönmek için <a asp-controller="Book" asp-action="Index" class="fw-bold text-light">tıklayınız</a>
    </p>
</div>